.navbar{
    padding-top: 20px;
    color: white;
    background-color: purple;
    height: 70px;
    width: 100dvw;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    // align-content: center;


}